
/* Light Mode */
:root {
  --bg-color: #F5E6D0;
  --font-color: black;
  --inverse-font-color: white;
  --link-color: #0000FF;

  --primary-color: #D1EBF5;
  --secondary-color: #454545;

  --button1-color: #D0DFF5;
  --button2-color: #b8c4d6;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #0a192f;
  --font-color: #D1DFF5;
  --inverse-font-color: black;
  --link-color: #0000FF;

  --primary-color: #2f200a;
  --secondary-color: #B3B3B3;  
  
  --button1-color: #3e4249;
  --button2-color: #535962;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ96A.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);  
  font-family: 'Lato', Fallback, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Pacifico', Fallback, cursive;
  color: var(--secondary-color);
  float: left;
  margin-left: 1rem;
}

/* If screen is smaller than 768 px, shrink the h1 font size and remove the margins */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-top: 0;
    float: none;
  }
}
  
h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    text-decoration: underline;
    color: var(--font-color);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

/* Top navbar css is reused across all pages. */
#topNavigation {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

/* TODO Replace with a hamburger menu for mobile for HW4 */
@media screen and (max-width: 768px) {
  #topNavigation {
    display: none;
  }
}

#navBarMenu {
  display: flex;
  list-style: none;
  justify-content: end;
  align-items: center;
}

#topNavigation ul li {
  margin-right: 1.25rem;
  margin-top: 0.9375rem;
  border-radius: 0.5rem;
}

#topNavigation ul li:last-child {
  margin-right: 0;
}

#topNavigation ul li a {
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--button1-color);
  border: 1px solid var(--font-color);
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 75px;
}

/*Simple css to style it like a toggle switch*/
/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer is reused across all pages */

footer section {
    display: flex;  
    flex-direction: column; 
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0.5rem;
}

@media screen and (min-width: 480px) {
    footer ul {
      grid-auto-flow: column;
    }
}

footer a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: underline;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);

}

footer li {
    margin: 0 0.5rem;
}

footer li p {
    text-align: center;
}
  
footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
    0%,
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
}


  

